.product-image {
  width: auto;
  height: 180px;
  object-fit: cover;
}
.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 230px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #feb9d1;
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.product-card {
  position: relative;
  cursor: pointer;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: none;
  stroke: black;
  stroke-width: 2;
  cursor: pointer;
  transition: 0.2s;
}

.heart.active {
  fill: red;
  stroke: red;
}

.cart-icon {
  margin-top: 10px;
  fill: none;
  stroke: black;
  stroke-width: 2;
  cursor: pointer;
}

.cart-icon.added {
  stroke: green;
}
